/*-- scss:defaults --*/

$body-bg: #ffffff;

#title-slide {
    .title {
    color: #ffffff; /* Example: Firebrick red for the title */
    }
    .subtitle {
    color: #008000; /* Example: Green for the subtitle */
    }
    .quarto-title-author {
    color: #4682b4; /* Example: Steel blue for the author */
    }
    /* You can also target .quarto-title-affiliation, .quarto-title-author-email, etc. */
}